
<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>LIV Recovery Sober Living</title>
        <meta name="description" content="living in victory sober">

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600italic,700italic,600,800,300,700,800italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <!-- Google Fonts -->
        
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/revslider/revslider-index.css">
        <link rel="stylesheet" id="color-scheme" href="css/colors/darkblue.css">
        
        <!-- Favicon and Apple Icons -->
        <link rel="icon" type="image/png" href="images/logo-tree.png">
        
        <!-- Modernizr -->
        <script src="js/modernizr.js"></script>

        <!--- jQuery -->
        <script src="js/jquery.min.js"></script>

        <!-- Queryloader -->
        <script src="js/queryloader2.min.js"></script>
	    
    </head>
    <body>
    <div class="boss-loader-overlay"></div><!-- End .boss-loader-overlay -->
    <div id="wrapper">
        <header id="header" role="banner">
            <nav class="navbar navbar-white navbar-transparent animated-dropdown ttb-dropdown" role="navigation">
                
                <div class="navbar-top clearfix">
                    <div class="container">

                        <div class="pull-right">
                           <div class="social-icons pull-right hidden-xs">
                                <a href="https://www.facebook.com/wherelifebeginsagain" target="_blank" class="social-icon icon-facebook" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="https://twitter.com/Soberliving2" target="_blank" class="social-icon icon-twitter" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://www.instagram.com/livrecoverysoberliving/" target="_blank" class="social-icon icon-instagram" title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/wherelifebeginsagain" target="_blank" class="social-icon icon-linkedin" title="Linked In">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div><!-- End .social-icons -->
                        </div><!-- End .pull-right -->
                    </div><!-- End .container -->
                </div><!-- End .navbar-top -->
                
                <div class="navbar-inner sticky-menu">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle btn-circle pull-right collapsed" data-toggle="collapse" data-target="#main-navbar-container">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand text-uppercase" href="/" title="LIV Recovery Sober Living"><img src="images/logo-words.png" style="height: 50px;"></a>
                        </div><!-- End .navbar-header -->
                        <div class="collapse navbar-collapse" id="main-navbar-container">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#about">About Us</a>
                                </li>
                                <li>
                                    <a href="#portfolio-item-container">Our Homes</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact</a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container -->
                </div><!-- End .navbar-inner -->
            </nav>
        </header><!-- End #header -->
    
        <div id="content" role="main" class="no-padding">
        
            <div id="revslider-container">
                <div id="revslider">
                    <ul>
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="800" data-title="We Care" data-thumb="images/sliders/1.jpg">
                            <!-- background image -->
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAD0lEQVR42mNkwAIYh7IgAAVVAAuInjI5AAAAAElFTkSuQmCC"  alt="slidebg1" data-lazyload="images/sliders/1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            
                            <div class="tp-caption rev-subtitle lfb ltt"
                                data-x="center"
                                data-y="155"
                                data-speed="1000"
                                data-start="900"
                                data-easing="Power3.easeInOut"
                                data-endspeed="400"
                                style="z-index: 10">We Care About Your Recovery
                            </div>

                            <div class="tp-caption rev-title lfb ltt"
                                data-x="center"
                                data-y="210"
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 6">LIV Recovery Sober Living
                            </div>


                            <div class="tp-caption rev-text lfb ltt"
                                data-x="center"
                                data-y="290"
                                data-speed ="1000"
                                data-start="1200"
                                data-easing="Power3.easeInOut"
                                data-endspeed="700"
                                style="z-index: 12">At Living In Victory Sober Living Missouri, Illinois we aim to provide a safe and loving place for residents to continue their journey in sobriety.
                            </div>

                            <div class="tp-caption rev-btn lfb ltt"
                                data-x="center"
                                data-y="380"
                                data-speed="1000"
                                data-start="1400"
                                data-easing="Power3.easeInOut"
                                data-endspeed="800"
                                style="z-index: 14">
                                    <a href="https://form.jotformeu.com/90662525515356" target="_blank" class="btn btn-white radius-lger min-width"><strong>Apply Now!</strong></a>
                            </div>
                        </li>
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="800" data-title="Reconnect" data-thumb="images/sliders/2.jpg">
                            <!-- background image -->
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAD0lEQVR42mNkwAIYh7IgAAVVAAuInjI5AAAAAElFTkSuQmCC"  alt="slidebg1" data-lazyload="images/sliders/2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <div class="tp-caption rev-subtitle lfb ltt"
                                data-x="center"
                                data-y="155"
                                data-speed="1000"
                                data-start="900"
                                data-easing="Power3.easeInOut"
                                data-endspeed="400"
                                style="z-index: 10">Reconnect With Society And Your Loved Ones
                            </div>

                            <div class="tp-caption rev-title lfb ltt"
                                data-x="center"
                                data-y="210"
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 6">Independence
                            </div>


                            <div class="tp-caption rev-text lfb ltt"
                                data-x="center"
                                data-y="290"
                                data-speed ="1000"
                                data-start="1200"
                                data-easing="Power3.easeInOut"
                                data-endspeed="700"
                                style="z-index: 12">Our goal is to reconnect the men and women suffering from chemical dependency and other related disorders, with society and offer them a chance at complete recovery.
                            </div>

                            <div class="tp-caption rev-btn lfb ltt"
                                data-x="center"
                                data-y="380"
                                data-speed="1000"
                                data-start="1400"
                                data-easing="Power3.easeInOut"
                                data-endspeed="800"
                                style="z-index: 14">
                                <a href="https://form.jotformeu.com/90662525515356" target="_blank" class="btn btn-white radius-lger min-width"><strong>Apply Now!</strong></a>
                            </div>
                        </li>
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="800" data-title="Recovery" data-thumb="images/sliders/3.jpg">
                            <!-- background image -->
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAD0lEQVR42mNkwAIYh7IgAAVVAAuInjI5AAAAAElFTkSuQmCC"  alt="slidebg1" data-lazyload="images/sliders/3.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <div class="tp-caption rev-subtitle lfb ltt"
                                data-x="center"
                                data-y="155"
                                data-speed="1000"
                                data-start="900"
                                data-easing="Power3.easeInOut"
                                data-endspeed="400"
                                style="z-index: 10">12 Step Based Residential Recovery
                            </div>

                            <div class="tp-caption rev-title lfb ltt"
                                data-x="center"
                                data-y="210"
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 6">Encouragement
                            </div>


                            <div class="tp-caption rev-text lfb ltt"
                                data-x="center"
                                data-y="290"
                                data-speed ="1000"
                                data-start="1200"
                                data-easing="Power3.easeInOut"
                                data-endspeed="700"
                                style="z-index: 12">LIV Recovery Sober Living will encourage and assist all residents in becoming responsible members of the community, and equip them with the necessary life skills to sustain their recovery.
                            </div>

                            <div class="tp-caption rev-btn lfb ltt"
                                data-x="center"
                                data-y="380"
                                data-speed="1000"
                                data-start="1400"
                                data-easing="Power3.easeInOut"
                                data-endspeed="800"
                                style="z-index: 14">
                                    <a href="https://form.jotformeu.com/90662525515356" target="_blank" class="btn btn-white radius-lger min-width"><strong>Apply Now!</strong></a>
                            </div>
                        </li>
                    </ul>
                </div><!-- End #revslider -->
                <a href="#id-to-scroll" class="scroll-btn light" data-offset="-85" data-0="opacity:1" data-top-bottom="opacity:0;" title="Go Down"><span></span></a>
            </div><!-- End #revslider-container -->

            <div class="container-fluid no-padding" id="id-to-scroll">
                <div class="row no-margin" id="about">
                    <div class="col-sm-4 bg-custom">
                        <div class="colored-box">
                            <h3 class="text-white mb20">Safe & Loving</h3>
                            <p>At Living In Victory Sober Living Missouri, Illinois we aim to provide a safe and loving place for residents to continue their journey in sobriety. We will guide our residents into becoming independent and productive members of the community and teach them how to live happier sober lifestyles.</p>
                        </div><!-- End .colored-box -->
                    </div><!-- End .col-sm-4 -->
                    <div class="col-sm-4 bg-custom2">
                        <div class="colored-box">
                            <h3 class="text-white mb20">Reconnect</h3>
                            <p>We will help facilitate resources that gives them educational, charitable and social welfare activities. Our goal is to reconnect the men and women suffering from chemical dependency and other related disorders, with society and offer them a chance at complete recovery.</p>
                        </div><!-- End .colored-box -->
                    </div><!-- End .col-sm-4 -->
                    <div class="col-sm-4 bg-custom">
                        <div class="colored-box">
                            <h3 class="text-white mb20">Staff</h3>
                            <p>LIV Recovery Sober Living is staffed 24 hour with a Live In house manager. We foster the 12 step based, residential recovery program and provide in house recovery activities such as house meetings and recovery speakers.  Our staff cares about you and your recovery!</p>
                        </div><!-- End .colored-box -->
                    </div><!-- End .col-sm-4 -->
                </div><!-- End .row -->
            </div><!-- End .container-fluid -->

            <hr class="gray mt0 mb65">

            <div class="container">
                <header class="title-block text-center mb60">
                    <h2 class="title-underblock custom text-uppercase text-center mb20"><span>Our Homes</span></h2>
                    <p>See photos of our mens home and womens home in St. Charles, MO</p>
                </header>

                <ul id="portfolio-filter" class="text-center">
                    <li class="active"><a href="#" data-filter="*" style="color: gray">All Photos</a></li>
                    <li><a href="#" data-filter=".womens">Womens Home Interior</a></li>
                    <li><a href="#" data-filter=".mens">Mens Home Interior</a></li>
                </ul>
                
            </div><!-- End .container -->

            <div id="portfolio-item-container" class="max-col-4 no-margin popup-gallery" data-layoutmode="fitRows">
                <div class="portfolio-item portfolio-meta-slideup push womens">
                    <figure>
                        <a href="images/homes/womens/1.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/womens/1.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Womens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item portfolio-meta-slideup push mens">
                    <figure>
                        <a href="images/homes/mens/1.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/mens/1.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Mens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->
                <div class="portfolio-item portfolio-meta-slideup push womens">
                    <figure>
                        <a href="images/homes/womens/2.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/womens/2.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Womens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item portfolio-meta-slideup push mens">
                    <figure>
                        <a href="images/homes/mens/2.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/mens/2.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Mens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->
                <div class="portfolio-item portfolio-meta-slideup push womens">
                    <figure>
                        <a href="images/homes/womens/3.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/womens/3.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Womens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item portfolio-meta-slideup push mens">
                    <figure>
                        <a href="images/homes/mens/3.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/mens/3.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Mens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->
                <div class="portfolio-item portfolio-meta-slideup push womens">
                    <figure>
                        <a href="images/homes/womens/4.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/womens/4.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Womens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item portfolio-meta-slideup push mens">
                    <figure>
                        <a href="images/homes/mens/4.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/mens/4.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Mens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->
                <div class="portfolio-item portfolio-meta-slideup push womens">
                    <figure>
                        <a href="images/homes/womens/5.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/womens/5.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Womens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item portfolio-meta-slideup push mens">
                    <figure>
                        <a href="images/homes/mens/5.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/mens/5.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Mens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->
                <div class="portfolio-item portfolio-meta-slideup push womens">
                    <figure>
                        <a href="images/homes/womens/6.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/womens/6.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Womens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->

                <div class="portfolio-item portfolio-meta-slideup push mens">
                    <figure>
                        <a href="images/homes/mens/6.jpg" class="zoom-item" title="LIV Recovery Sober Living Home"><img src="images/homes/mens/6.jpg" alt="portfolio item name" class="img-responsive"></a>
                    </figure>
                    <div class="portfolio-meta dark">
                        <h2 class="portfolio-title">Mens Home</h2>
                    </div><!-- End .portfolio-meta -->                            
                </div><!-- End .portfolio-item -->

            </div><!-- End #portfolio-item-container -->
            <div class="callout custom no-border">
                <div class="mb5"></div><!-- space -->
                <div class="container">
                    <div class="callout-wrapper">
                        <div class="callout-left">
                            <h2 class="callout-title">Don't miss out on your chance for a room!</h2>
                            <p class="callout-desc">Come be a part of LIV Recovery Sober Living and we will help facilitate resources that gives you educational, charitable and social welfare activities.</p>
                        </div><!-- End .callout-left -->
                        <div class="callout-right">
                            <a href="https://form.jotformeu.com/90662525515356" target="_blank" class="btn btn-white v2 btn-border radius-lger min-width">Apply Now!</a>
                        </div><!-- End .callout-right -->
                    </div><!-- End .callout-wrapper -->
                </div><!-- End .container -->
                <div class="mb10"></div><!-- space -->
            </div><!-- End .callout -->

            <div class="container">
                <header class="title-block text-center mb60">
                    <h2 class="title-underblock custom text-uppercase text-center mb20"><span>Our Staff</span></h2>
                </header>
                <div class="row">
                    <div class="col-12">
                        <div class="owl-carousel testimonial-slider">
                            <div class="testimonial">
                                <figure>
                                    <img src="images/employees/cameo.jpg" alt="Cameo">
                                </figure>
                                <div class="testimonial-content">
                                    <p>Cameo Jones is a Missouri Certified Counselor who has years of experience working with those who are suffering from addictions and mental health. Her personal and professional experience with addiction is an asset in supporting our clients.</p>
                                    <h5>Cameo Jones - Founder</h5>
                                </div><!-- End .testimonial-content -->
                            </div><!-- End .testimonial -->
                            <div class="testimonial">
                                <figure>
                                    <img src="images/employees/derrick.jpg" alt="John">
                                </figure>
                                <div class="testimonial-content">
                                    <p>Derrick Jones has years of experience in healthcare and social services. His experience as an instructor, mentor, leader, and consultant, provides the residents with support in career development. His love and passion is to help those in recovery.</p>
                                    <h5>Derrick Jones - Co Founder</h5>
                                </div><!-- End .testimonial-content -->
                            </div><!-- End .testimonial -->
                            <div class="testimonial">
                                <figure>
                                    <img src="images/employees/lisa.jpg" alt="Dean">
                                </figure>
                                <div class="testimonial-content">
                                    <p>Lisa Lewis is a Certified Missouri Medical Assistant. She began her personal journey toward recovery in 1992. Lisa has multiple years of professional experience working with men, women, adolescents and individuals with Dual Diagnosis.</p>
                                    <h5>Lisa Lewis - Director of Houses</h5>
                                </div><!-- End .testimonial-content -->
                            </div><!-- End .testimonial -->
                        </div><!-- End .testimonial-slider -->
                    </div><!-- End .col-md-6 -->
                </div>
            </div>

            <div class="mb10 mb40-sm"></div><!-- End .space -->

            <div id="contact" class="bg-lightergray pt70 pb60">
                <div class="container">
                    <header class="title-block text-center mb60">
                        <h2 class="title-underblock custom text-uppercase text-center mb20"><span>Contact Us</span></h2>
                        <p>We at LIV Recovery Sober Living are available to talk when you are ready.  Please feel free to give us a call or send us an email with any questions.</p>
                    </header>

                    <div class="row">
                        <div class="col-sm-8">
                            <form action="https://formspree.io/livrecovery32@gmail.com" method="POST">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="contactname" class="input-desc">Name</label>
                                            <input type="text" class="form-control" id="contactname" name="name" placeholder="Your Name" required>
                                        </div><!-- End .from-group -->
                                    </div><!-- End .col-md-6 -->
                                </div><!-- End .row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="contactemail" class="input-desc">Email</label>
                                            <input type="email" class="form-control" id="contactemail" name="email" placeholder="Your Email" required>
                                        </div><!-- End .from-group -->
                                    </div><!-- End .col-md-6 -->
                                </div><!-- End .row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="contactmessage" class="input-desc">Message</label>
                                            <textarea class="form-control" rows="6" id="contactmessage" name="message" placeholder="Your Message" required></textarea>
                                        </div><!-- End .from-group -->

                                        <div class="mb5"></div><!-- space -->

                                        <div class="form-group">
                                            <input type="submit" class="btn btn-custom min-width" data-loading-text="Sending..." value="Send Message">
                                        </div><!-- End .from-group -->
                                    </div><!-- End .col-md-12 -->
                                </div><!-- End .row -->
                            </form>
                        </div><!-- End .col-sm-8 -->

                        <div class="mb40 visible-xs"></div><!-- space -->

                        <div class="col-sm-4">

                            <h3 class="mb20">Call Us</h3>
                            <ul class="contact-list">
                                <li><strong>Cameo Jones</strong> - Founder</li>
                                <li><strong>Phone:</strong> (573)-514-2128</li>
                                <li><strong>Email:</strong> <a href="mailto:cjones@livsoberliving.com">cjones@livsoberliving.com</a></li>
                            </ul>
                            
                            <ul class="contact-list">
                                <li><strong>Derrick Jones</strong> - Co-Founder</li>
                                <li><strong>Phone:</strong> (314)-283-9832</li>
                                <li><strong>Email:</strong> <a href="mailto:djones@livsoberliving.com">djones@livsoberliving.com</a></li>
                            </ul>

                            <div class="mb20"></div><!-- space -->

                            <h4 class="mb20">Social Media</h4>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/wherelifebeginsagain" target="_blank" class="social-icon icon-facebook add-tooltip first" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="https://twitter.com/Soberliving2" target="_blank" class="social-icon icon-twitter add-tooltip" data-placement="top" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://www.instagram.com/livrecoverysoberliving/" target="_blank" class="social-icon icon-instagram add-tooltip" data-placement="top" title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/wherelifebeginsagain" target="_blank" class="social-icon icon-linkedin add-tooltip" data-placement="top" title="Linked In">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div><!-- End .social-icons -->
                            
                        </div><!-- End .col-sm-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-lighetgray -->
        </div><!-- End #content -->

        <footer id="footer" class="footer-custom" role="contentinfo">
            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <ul class="footer-menu">
                                <li><a href="#top">Home</a></li>
                                <li><a href="#about">About Us</a></li>
                                <li><a href="#portfolio-item-container">Our Homes</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div><!-- End .col-md-6 -->
                        <div class="col-md-6 col-md-pull-6">
                            <p class="copyright">LIV Recovery Sober Living - All rights reserved &copy; 2019</p>
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #footer-bottom -->
        </footer><!-- End #footer -->

    </div><!-- End #wrapper -->
    <a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>
	<!-- END -->

    <!-- Smoothscroll -->
    <script src="js/smoothscroll.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.hoverIntent.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/jquery.debouncedresize.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jflickrfeed.min.js"></script>
    <script src="js/twitter/jquery.tweet.min.js"></script>
    <script src="js/skrollr.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.themepunch.tools.min.js"></script>
    <script src="js/jquery.themepunch.revolution.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/main.js"></script>

    <script>
        (function () {
            "use strict";
            // Slider Revolution
            jQuery('#revslider').revolution({
                delay:8000,
                startwidth:1170,
                startheight:500,
                fullWidth:"on",
                fullScreen:"on",
                hideTimerBar: "off",
                spinner:"spinner4",
                navigationStyle: "preview4",
                soloArrowLeftHOffset:20,
                soloArrowRightHOffset:20
            });
        }());
    </script>
            
	
    </body>
</html>